@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #020617; /* Slate-950 color */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Custom selection color */
::selection {
  background-color: #f43f5e;
  color: white;
}